.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

h1 {
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    margin-left: 10px;
    margin-top: -10PX;
    margin-bottom: -10PX;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    position: relative;
    align-items: center;
    display: flex;
    /* left: 50%;
    right: 50%; */
    justify-content: center;
    color: red
}

.bgImage {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 25%;
}

.btn {
    position: relative;
    justify-content: center;
    padding: 10px;
    left:50%;
    right: 50%;
    background-color: transparent; 
    color: rgb(51, 51, 51); 
    border: 2px dashed black;
}

.btn:hover {
  background-color: #4CAF50;
  color: white;
  border: 2px solid #4CAF50
}

.title {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    right: 0;
    padding: 20px;
}

@media only screen and (max-width: 600px){
    h1{
        font-size: 10px;
    }
}